discord.py
jishaku
mcstatus
discord-ext-menus
aiohttp
flask
aiofiles
psutil
requests
pymongo
wavelink>=2.0.0
httpx
discord.ext-context
motor
Augmentor
numpy
aiosqlite
gtts
langdetect
python-dotenv
pyttsx3
PyYAML
openai
google-generativeai
prodia
duckduckgo-search==6.3.6
pillow==11.0.0
colorama
chess
python-dateutil
pytz
deep-translator==1.11.4
